*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
background-color: rgb(168, 219, 236);
text-transform: capitalize;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.clock{
width: 25rem;
height: 3rem;
border: none;
background-color: rgb(89, 92, 78);
border-radius: 5px;
margin: auto;
position: relative;
top: 10rem;
display: flex;
flex-flow: row;
justify-content: center;
align-items: center;
animation:ali 2s infinite ease-in-out;

}

#hours, #minutes, .semi-colon, #seconds, #pm-am{
background-color: rgb(186, 226, 43);
letter-spacing: 15px;
font-size: 2rem;
background-image: linear-gradient(to right,rgba(13, 222, 245, 0.795),gold);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;

}
